.container-star{
    display: flex;
    background-color: rgb(234, 223, 238);
    margin-right: 20px;
    border-radius: 8px;
    margin-top: 10px;
}
.titulo-star{
    color: rgb(75, 16, 100);
    font-size: 50px;
    font-weight:bold;
    margin-left: 0px;
}
.sub-star{
    color: rgb(169, 164, 172);
    font-size: 18px;
}
.welcome-star{
   margin-top: 100px;
   margin-left: 150px;
   width: 420px;
}
.text-star{
    margin-top: 100px;
}
.welcome-principal{
    display: flex;
}

