


.card-one{
    display: flex;
    background-color: rgb(234, 223, 238);
    float: right;  
    border-radius: 8px;
    margin-top: 60px;
    width: 650px;
    height: 60px;
   
}
.img-star{
    float: left;
    width: 20px ;
    height: 20px;
    margin-left: 10px;
}
.text-star{
    margin-left: 50px;
    color: rgb(75, 16, 100);
    font-weight:bold;
}