.container-card{
    display: flex;
    margin-left: 150px;
}
.container-uno{
    margin-top: 30px;
}
.container-dos{
    margin-left: 140px;
    margin-top: 50px;
}
.container-tres{
    margin-left: 140px; 
    margin-top: 70px;
}
.container-uno,
.container-dos,
.container-tres{
    height: 195px;
    width: 320px;
    background-color: rgb(75, 16, 100);
    border-radius: 8px;
}

.card-descrip{
    display: flex;
}
.name{
    color: white;
    margin-top: -70px;
}
.name2{
    color: rgb(165, 35, 221);
}
.name,
.name2{
    padding-left: 130px;
}
.peruno,
.perdos,
.pertres{
    border-radius: 40px;
    margin-top: 30px;
    margin-left: 10px;
}
.texto{
    color: white;
    margin-top: 30px;
    padding-left: 10px;
}